---
const { 
  title = "Creación de Páginas Web Profesionales - Arequipa, Moquegua, Perú & USA",
  description = "Servicios de diseño y desarrollo web minimalista y profesional. Impulsa tu negocio con una presencia online de alto impacto en Moquegua, Arequipa, todo el Perú y EE.UU.",
  keywords = "diseño web moquegua, desarrollo web arequipa, paginas web peru, web design usa, sitios web economicos, programacion web"
} = Astro.props;
---

<!-- SEO Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href={Astro.url} />
<meta name="google-site-verification" content="w3ssfq4RyBc5a5N856gWO4jVprcvQ3S4b9bdPdgEU1s" />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL('/favicon.svg', Astro.url)} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL('/favicon.svg', Astro.url)} />

<!-- Structured Data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Web Creation Services",
    "image": new URL('/favicon.svg', Astro.url),
    "@id": "",
    "url": "https://tu-web-ya.netlify.app",
    "telephone": "+51951413458",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Arequipa / Moquegua",
      "addressLocality": "Arequipa",
      "addressRegion": "PE",
      "addressCountry": "PE"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": -16.409,
      "longitude": -71.537
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    },
    "sameAs": []
  }
</script>
